<div class="header-area" mat-dialog-title>
<!--  TODO : Plus minus btn-->
  <h1>SHOPPING CART</h1>
</div>
<div class="content-area" mat-dialog-content>
  <div class="items-area">
    <div *ngFor="let data of data.data;index as num" class="item">
      <div [ngStyle]="{background:data?.itemLogoUrl|custmerBuyingCartItemImages,'background-size':'cover'}"
           class="item-picture"></div>
      <div class="item-name-price">{{ data?.itemDescription }}<span class="item-price">Rs.{{ data?.unitPrice }}</span>
      </div>
      <div [formGroup]="QTYs[num]" class="item-controls">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Quantity</mat-label>
          <mat-error>No enough stock</mat-error>
          <input formControlName="QTYtext" matInput type="text">
        </mat-form-field>
      </div>
      <div class="item-full-price">Rs.{{ data?.unitPrice * QTYarray[num] }}</div>
      <div class="item-remove">
        <button (click)="remove(num)" aria-label="Example icon button with a delete icon" class="delete-button"
                mat-icon-button>
          <mat-icon class="delete-button-icon">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="total-price-area">
    <div class="total-price-text">TOTAL PRICE : Rs.{{ TotalPrice }}</div>
  </div>
</div>
<div class="footer-area" mat-dialog-actions>
  <div class="button-buy">
    <button (click)="gotoBuyingPage()" [disabled]="checkValidity()|| data.data.length==0" color="primary"
            mat-dialog-close="true" mat-raised-button>BUY
    </button>
  </div>
  <div class="button-close">
    <button color="warn" mat-dialog-close="true" mat-raised-button>CLOSE</button>
  </div>
</div>
