.header-area{
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-area{
  margin-top: 30px;
  margin-left: 5px;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;

}
.items-area{
  //margin-top: 30px;
 // margin-left: 5px;
  height: 360px;
  width: 100%;
  border: 1px solid red;
  overflow: scroll;
}
.item{
  margin-top: 10px;
  height: 100px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
}
.item-picture{
  height: 100%;
  width:100px;
  background-size: cover;
  border: 1px solid black;
}
.item-name-price{
  margin-left: 30px;
  color: red;
  font-size: x-large;
 }
.item-price{
  margin-left: 30px;
  color: black;
  font-size: xx-large;
  font-family: monospace;
}
.item-controls{
  margin-left: 40px;
}
.item-full-price{
  margin-left: 30px;
  color: black;
  font-size: xx-large;
  font-family: monospace;
}
.delete-button{
  margin-left: 80px;
}
.total-price-area{
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-price-text{
  font-family: monospace;
  font-size: xx-large;
  color: blueviolet;
}
.footer-area{
  height: 70px;
  width: 100%;
  display: flex;
}
.button-close{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-buy{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
