<div class="row col-sm-12">
  <div class="header-outer">
    <h2 class="header-text">Customer Dashboard</h2>
    <div class="header-buttons">
      <button (click)="openModal()" aria-label="Example icon button with a shopping cart icon" mat-icon-button>
        <mat-icon [matBadge]="buyingCartService.cartData.numberOfItems" class="shopping-cart-button">add_shopping_cart
        </mat-icon>
      </button>
      <button (click)="logout()" aria-label="Example icon button with a logout icon" mat-button>
        <mat-icon class="logout-button">logout</mat-icon>
      </button>
      <button #orderBtn (click)="loadOrdersData()" class="orders-button" color="accent" mat-raised-button>Your Orders
      </button>
    </div>

  </div>
  <div class="all-content-outer">
    <div class="menu-outer">
      <div *ngIf="localStorageService.getCookie('userEmail')" class="account-outer">
        <div class="account-logo">
          <div [ngStyle]="{ background: localStorageService.getCookie('userPic') | customerDashboardBackgroundImages,'background-size':'cover'}"
               class="logo-box"></div>
        </div>
        <div class="account-name">{{ localStorageService.getCookie('userEmail') }}</div>
      </div>
      <div class="menu-items-outer">
        <mat-button-toggle-group #chooseMenuItem="matButtonToggleGroup" appearance="standard" aria-label="menu-label">
          <mat-button-toggle (click)="loadData('CLOTHES')" aria-orientation="vertical" value="CLOTHES">CLOTHES
          </mat-button-toggle>
          <mat-button-toggle (click)="loadData('BOOKS')" aria-orientation="vertical" value="BOOKS">BOOKS
          </mat-button-toggle>
          <mat-button-toggle (click)="loadData('ELECTRONICS')" aria-orientation="vertical" value="ELECTRONICS">
            ELECTRONICS
          </mat-button-toggle>
          <mat-button-toggle (click)="loadData('ELECTRICAL')" aria-orientation="vertical" value="ELECTRICALS">
            ELECTRICAL
          </mat-button-toggle>
          <mat-button-toggle (click)="loadData('COSMETICS')" aria-orientation="vertical" value="COSMETICS">COSMETICS
          </mat-button-toggle>
          <mat-button-toggle (click)="loadData('OTHER')" aria-orientation="vertical" value="OTHER">OTHER
          </mat-button-toggle>
          <mat-button-toggle (click)="loadOrdersData()" aria-orientation="vertical" class="orders-button"
                             value="ORDERS">Your orders
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="copyright-outer">
        <small>&copy;{{ year }}</small>&nbsp;
        <small>All rights reserved</small>
      </div>
    </div>
    <div class="content-outer">
      <div class="search-bar-outer">
        <div class="search-bar-inner">
          <div class="icon-inner"><i class="fa-brands fa-searchengin w3-xxlarge"></i></div>
          <div class="text-inner">
            <form [formGroup]="searchForm">
              <input [style.height.px]="43" [style.width.%]="100" formControlName="searchText" matInput placeholder="Enter search Text"
                     type="text">
            </form>
          </div>
        </div>
      </div>
      <div class="content-inner">
        <app-loading *ngIf="loadingService.progrssBarLoadingState |async" [data]="type"></app-loading>
        <app-clothes *ngIf="(chooseMenuItem.value=='CLOTHES'|| chooseMenuItem.value==undefined) && !orderButtonClicked"
                     [buttonName]="buttonName"
                     [data]="dataList" class="inner-components"></app-clothes>
        <app-books *ngIf="chooseMenuItem.value=='BOOKS' && !orderButtonClicked" [buttonName]="buttonName"
                   [data]="dataList" class="inner-components"></app-books>
        <app-electronics *ngIf="chooseMenuItem.value=='ELECTRONICS' && !orderButtonClicked" [buttonName]="buttonName"
                         [data]="dataList" class="inner-components"></app-electronics>
        <app-electrical *ngIf="chooseMenuItem.value=='ELECTRICALS' && !orderButtonClicked" [buttonName]="buttonName"
                        [data]="dataList" class="inner-components"></app-electrical>
        <app-cosmetics *ngIf="chooseMenuItem.value=='COSMETICS'&& !orderButtonClicked" [buttonName]="buttonName"
                       [data]="dataList" class="inner-components"></app-cosmetics>
        <app-other *ngIf="chooseMenuItem.value=='OTHER'&& !orderButtonClicked" [buttonName]="buttonName"
                   [data]="dataList" class="inner-components"></app-other>
        <app-order *ngIf="orderButtonClicked" [data]="dataList" class="inner-components"></app-order>
      </div>

      <div class="paginator-outer">
        <mat-paginator (page)="pageEvent=loadServerData($event,chooseMenuItem.value,orderButtonClicked)" [length]=dataCount [pageIndex]=page [pageSizeOptions]=pageSizeOptions
                       [pageSize]=pageSize
                       aria-label="Select Page">

        </mat-paginator>
      </div>
    </div>


  </div>
</div>
