<div class="content-outer">
  <app-loading *ngIf="loadingService.progressBarLoadingState |async" [data]="type"></app-loading>
  <div class="header-content" mat-dialog-title>What do you want to do?</div>
  <div class="buttons-content" mat-dialog-content>
    <div class="view-button">
      <button (click)="viewOrder()" color="warn" mat-dialog-close="true" mat-raised-button>VIEW YOUR ORDER</button>
    </div>
    <div class="delete-button">
      <button (click)="deleteOrder()" color="warn" mat-raised-button>DELETE YOUR ORDER</button>
    </div>
    <div class="update-button">
      <button (click)="viewOrder()" color="warn" mat-dialog-close="true" mat-raised-button>UPDATE YOUR ORDER</button>
    </div>
  </div>
</div>
